#seccion-productos .card img, .encabezado-detalle img {
    aspect-ratio: 4/3;
}
:root {
   
    
   
    --bs-body-bg: #0b0d12;      
    --bs-body-color: #f0f4f8;    
    
  
    --bs-primary: #2c8af0;     
    --bs-primary-rgb: 44, 138, 240;
    
    --bs-secondary: #1f2430;    
    --bs-secondary-rgb: 31, 36, 48;
    
    --bs-warning: #ffe81f;      
    --bs-warning-rgb: 255, 232, 31;
    
    --bs-danger: #e01e37;       
    --bs-danger-rgb: 224, 30, 55;
    
    --bs-dark: #151922;         
    
 
    --bs-font-sans-serif: 'Orbitron', 'Roboto', sans-serif; 

}

.btn-primary {
    background-color: var(--bs-primary);
    border: none;
    box-shadow: 0 0 10px rgba(44, 138, 240, 0.5); 
    transition: all 0.3s ease;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-primary:hover {
    background-color: #4fa3ff;
    box-shadow: 0 0 20px rgba(44, 138, 240, 0.8); 
    transform: translateY(-2px);
}
.btn-secondary {
    background-color: var( --bs-secondary);
    border: none;
    box-shadow: 0 0 10px rgba(127, 127, 129, 0.5); 
    transition: all 0.3s ease;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-secondary:hover {
    background-color: #dee7e7c9;
    box-shadow: 0 0 20px rgba(45, 47, 49, 0.8);
    transform: translateY(-2px);
}


.card {
    background-color: var(--bs-dark);
    border: 1px solid rgba(142, 153, 168, 0.2); 
    border-radius: 4px;
}

/* Títulos con el amarillo icónico */
h1, h2, .text-starwars {
    color: var(--bs-warning);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.starwars-nav {
    background-color: rgba(21, 25, 34, 0.95);
    border-bottom: 1px solid rgba(44, 138, 240, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

/* 2. Logo */
.navbar-brand {
    font-family: 'Orbitron', sans-serif; 
    color: var(--bs-warning) !important; 
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

/* 3. Enlaces: Efecto Hover  */
.nav-link {
    color: #bdc3c7 !important; 
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.nav-link:hover, .nav-link.active {
    color: var(--bs-primary) !important; /* Azul */
    text-shadow: 0 0 8px rgba(44, 138, 240, 0.8); /* Glow azul */
}

/* 4. Input de Búsqueda: Estilo Terminal */
.search-terminal {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #444;
    color: var(--bs-primary);
    font-family: 'Courier New', monospace; /* Fuente tipo código */
}

.search-terminal::placeholder {
    color: #555;
}

.search-terminal:focus {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: var(--bs-primary);
    box-shadow: 0 0 10px rgba(44, 138, 240, 0.3);
    color: var(--bs-primary);
}

.abs {
    position: absolute;
    top: 0px;
    right: 4px;
    font-size: 2rem;
}

